# Nuxt
.nuxt
dist
.output

# Dependencies
node_modules
*.lock
*.log

# IDE
.vscode
.idea
*.swp
*.swo
*~

# Environment
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# Build
.cache
.parcel-cache
.vercel

# Testing
coverage
.nyc_output
